#td_page_metabox,
#td_post_theme_settings_metabox,
.post-type-dates #postcustom,
#td_post_video_metabox,

.ure-sidebar {
    display: none !important
}

.vc_media-lg .vc_col-lg-2 {
    width: 25% !important;
}

.column-primary {
    width: 30%
}

.column-comments,
.column-tags,
.column-wpseo-score,
.column-wpseo-score-readability,
.column-views,
.column-td_post_views {
    display: none
}

.sidebars-column-1 {
    width: 100% !important;
    max-width: 900px !important;
}

.sidebars-column-1 #main-home {
    overflow: hidden
}

.sidebars-column-1 .widget {
    width: 33%;
    padding-right: 5px;
    float: left
}

.sidebars-column-1 div[id*="main_widget"],
 li[id*="main_widget"] {
    width: 99% !important
}

.sidebars-column-1 div[id*="two_thirds"],
li[id*="two_thirds"],
.sidebars-column-1 div[id*="related_block"],
 li[id*="related_block"]{
    width: 66% !important
}

.sidebars-column-1 div[id*="fragment_long"],
.sidebars-column-1 div[id*="fragment_long"] .widget-top,
.sidebars-column-1 div[id*="book_week"] .widget-top {
    height: 98px;
}

li[id*="book_week"] .widget-top,
li[id*="fragment_long"] .widget-top {
    height: 91px;
}


.sidebars-column-1 div[id*="fragment_long"].widget.open,
.sidebars-column-1 div[id*="fragment_long"].expanded .widget-top {
    height:auto;
}



.wp-customizer .wp-full-overlay.expanded form#customize-controls {
    width: 900px
}

body.adding-widget #available-widgets {
    left: 600px
}

.customize-control {
    clear: none;
    width: 33%;
    padding-right: 2px;
}

#tagsdiv-post_tag {
    display: none
}
/* ACF */

#acf-autor_name p.label{
	display : none;
}
#acf-field-autor_name{
	padding: 3px 8px;
	font-size: 1.7em;
	line-height: 100%;
	height: 1.7em;
}